<div class='row justify-content-between align-items-center mb-10'>

  <!-- Page Heading Start -->
  <div class='col-12 col-lg-auto mb-20'>
    <div class='page-heading'>
      <h3>فرم نوشتن مطلب جدید</h3>
    </div>
  </div><!-- Page Heading End -->

</div><!-- Page Headings End -->

<div class='row'>
  <!--Form controls Start-->
  <div class='col-12 mb-30'>
    <div class='box'>
      <div class='box-head'>
        <h3 class='title'>مشخصات مطلب</h3>
      </div>
      <div class='box-body'>
        <div class='row mbn-20 justify-content-center'>

          <!--Form Field-->
          <div class='col-lg-8 col-12 mb-20'>

            <h6 class='mb-15'>پیش فرض</h6>

            <div class='row mbn-15'>
              <div class='col-6 mb-15'><input
                  type='text'
                  class='form-control'
                  placeholder='عنوان مطلب'
                /></div>
              <div class='col-6 mb-15'><input
                  type='text'
                  class='form-control'
                  placeholder='نامک مطلب'
                /></div>
              <div class='col-12 mb-15'><textarea
                  class='form-control'
                  placeholder='محتوای مطلب'
                ></textarea></div>
            </div>

          </div>
          <!--Form Field-->

        </div>
      </div>
    </div>
  </div>
  <!--Form controls End-->

</div>

<div class='row'>
  <!--Form controls Start-->
  <div class='col-12 mb-30'>
    <div class='box'>
      <div class='box-head'>
        <h3 class='title'>وضعیت انتشار</h3>
      </div>
      <div class='box-body row justify-content-start flex-column'>
        <!--Single Select-->
        <div class='col-lg-3 col-12 mb-30'>
          <select class='form-control select2'>
            <option>پیش نویس</option>
            <option>انتشار</option>
            <option>بازبینی</option>
          </select>
        </div>
        <!--Single Select-->
        <div class='col-12 col-lg-3 mb-30'>
          <button class='button button-primary'>ذخیره سازی</button>
        </div>
      </div>
    </div>
  </div>
  <!--Form controls End-->

</div>